<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>form anuglar</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

    <style type="text/css">
        .content {
            width: 800px;
            overflow: hidden;
            margin: 10px auto;
        }
        
        .form-container,
        .data-container {
            width: 400px;
            float: left;
        }
        
        table {
            margin-left: 10px;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
</head>

<body ng-app='creditCalcApplication'>

    <div class="content" ng-controller='creditController'>

        <div class="form-container">

            <form class="form-horizontal">
                <fieldset>

                    <legend>Кредитный калькулятор</legend>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="sum">Сумма кредита</label>
                        <div class="col-md-4">
                            <input ng-model='amountOfCredit' id="sum" name="sum" type="text" placeholder="" class="form-control input-md">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="time">Срок кредита</label>
                        <div class="col-md-4">
                            <input ng-model='creditTerm' id="time" name="time" type="text" placeholder="" class="form-control input-md" maxlength="2">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="percent">Процентная ставка (%)</label>
                        <div class="col-md-4">
                            <input ng-model='creditPercentage' id="percent" name="textinput" type="text" placeholder="" class="form-control input-md">

                        </div>
                    </div>

                </fieldset>
            </form>

            <hr>
            <a href="https://www.aval.ua/ru/personal/crediting/multi/">https://www.aval.ua/ru/personal/crediting/multi/</a>

        </div>

        <div class="data-container">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>номер месяца1</td>
                        <td>погашение кредита</td>
                        <td>погашение %</td>
                        <td>общий взнос</td>
                        <td>остаток кредита</td>
                    </tr>
                </thead>
                <tbody  ng-if="amountOfCredit * creditTerm * creditPercentage">
                    <tr ng-repeat="line in informationOnLoan">
                        <td>{{$index +1}}</td>
                        <td>{{line.repayment|number:2}}</td>
                        <td>{{line.redemptionRate|number:2}}</td>
                        <td>{{line.totalPayment|number:2}}</td>
                        <td>{{line.balance|number:2}}</td>
                    </tr>
                </tbody>
            </table>

        </div>



    </div>


    <script>
        var creditCalcApplication = angular.module('creditCalcApplication', []);
        creditCalcApplication.controller('creditController', function($scope) {
         
            $scope.init = function() {

                $scope.repaymentCredit = $scope.amountOfCredit / $scope.creditTerm;
                $scope.percentMonth = $scope.creditPercentage / 100 / 12;
                $scope.informationOnLoan = [];

                if ($scope.creditTerm <= 36 && $scope.amountOfCredit <= 100000) {

                    for (var i = 0; i < $scope.creditTerm; i++) {
                        $scope.informationOnLoan.push({
                            'repayment': $scope.repaymentCredit,
                            'redemptionRate': ($scope.amountOfCredit - $scope.repaymentCredit * i) * $scope.percentMonth,
                            'totalPayment': $scope.repaymentCredit + ($scope.amountOfCredit - $scope.repaymentCredit * i) * $scope.percentMonth,
                            'balance': $scope.amountOfCredit - $scope.repaymentCredit * (i + 1)
                        })                        
                    }                    
                }
            }


            $scope.$watch('amountOfCredit', function() {
                $scope.init()
            })

            $scope.$watch('creditTerm', function() {
                $scope.init()
            })

            $scope.$watch('creditPercentage', function() {
                $scope.init()
            })
        })
    </script>


</body>

</html>